{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="orders-section">

    <div class="container">

        <h1 class="orders-title">
            My Orders 📦
        </h1>

        {% for order in orders %}

        <div class="order-card">

            <div class="order-left">

                <h4>
                    Order #{{ order.id }}
                </h4>

                <p>
                    {{ order.food.name }}
                </p>

                <span class="order-date">

                    Quantity : {{ order.quantity }}

                </span>

            </div>

            <div class="order-right">

                <h5>

                    ₹{{ order.total_price }}

                </h5>
                
                {% if order.status == "Pending" %}

                <span class="status pending">
                    Pending
                </span>

                {% elif order.status == "Preparing" %}

                <span class="status preparing">
                    Preparing
                </span>

                {% elif order.status == "Delivered" %}

                <span class="status delivered">
                    Delivered
                </span>

                {% elif order.status == "Cancelled" %}

                <span class="status cancelled">
                    Cancelled
                </span>

                {% endif %}
                <br><br>

                {% if order.status == "Pending" %}

                <a href="/cancel-order/{{ order.id }}/" class="btn btn-danger btn-sm"
                    onclick="return confirm('Cancel this order?')">

                    Cancel Order

                </a>

                {% endif %}

            </div>

        </div>

        {% empty %}

        <div class="alert alert-warning">

            No Orders Found

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}