.cart-section{
    background:#f8f9fa;
    min-height:100vh;
    padding:60px 0;
}

.cart-title{
    text-align:center;
    font-weight:700;
    margin-bottom:40px;
}

.cart-item{
    background:white;
    border-radius:15px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.cart-item img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:12px;
}

.cart-details{
    flex:1;
}

.cart-details h4{
    font-weight:600;
    margin-bottom:10px;
}

.cart-details p{
    color:#666;
    margin-bottom:10px;
}

.price{
    color:#ff9800;
    font-size:22px;
    font-weight:bold;
}

.quantity-box{
    display:flex;
    align-items:center;
    gap:10px;
}

.quantity-box button{
    width:35px;
    height:35px;
    border:none;
    border-radius:8px;
    background:#ff9800;
    color:white;
    font-weight:bold;
}

.quantity-box span{
    font-size:18px;
    font-weight:600;
}

.summary-card{
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    position:sticky;
    top:100px;
}

.summary-card h3{
    text-align:center;
    margin-bottom:15px;
}

.summary-row{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
}

.total{
    font-size:20px;
    font-weight:bold;
}



.checkout-btn:hover{
    background:#e68900;
}
.checkout-btn{
    display:block;
    text-align:center;
    text-decoration:none;
    width:100%;
    border:none;
    background:#ff9800;
    color:white;
    padding:12px;
    border-radius:10px;
    margin-top:20px;
    font-weight:600;
    font-size:18px;
}
