.viewdata-section{
    min-height:100vh;
    padding:60px 0;
    background:#f5f7fa;
}

.page-title{
    text-align:center;
    font-weight:700;
    margin-bottom:30px;
}

.table-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.table thead{
    background:#212529;
    color:white;
}

.table td,
.table th{
    vertical-align:middle;
}